@import url("https://use.typekit.net/efa7ivj.css");

/*  MIXINS, VARIABLES, KEYFRAMES   */


$primaryFont: "sofia-pro-soft", sans-serif;
$indigo: rgba(48,14,105,1);
$silver: rgba(227,227,227,1);

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@keyframes slideIn {
    from {transform: translateX(-100);}
    to {transform: translateX(0);}
}



/*  STYLES  */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
width: 100vw;
height: 100%;
@include flex(column, center, center);
font-family: $primaryFont;
}

header {
    width: 100%;
    height: 5vh;
    background-color: $indigo;
    @include flex(row, space-between, center);
    .logo-container {
        width: 20vw;
        height: 100%;
        @include flex(row, flex-start, center);
        img {
            height: 100%;
            width: auto;
            margin: 0 5px;
        }
    }
    .nav-container {
        width: 30vw;
        height: 90%;
        @include flex(row, space-evenly, center);
        a {
            text-decoration: none;
            color: #fff;
            font-size: 1.2rem;
        }
    }
}
.gallery-info {
    width: 100%;
    @include flex(column, center, center);
    .gallery-title {
        width: 100%;
        height: 100vh;
        @include flex(row, center, center);
        h1 {
            font-size: 7rem;
            color: $indigo;
        }
    }
    .gallery-description {
        width: 60%;
        height: 90vh;
        @include flex(row, center, center);
        text-align: center;
        font-size: 1.5rem;
        font-style: italic;
        color: $indigo;
    }
    .quote-attribution {
    width: 90%;
    margin-top: 5%;
    @include flex(row, flex-end, flex-start);
    font-size: 1.75rem;
    font-style: italic;
    color: $indigo;
    }
}

#image-gallery {
    border: 2px solid red;
    width: 100vw;
    margin: 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    //gap: 15px;
    row-gap: 10px;
    transition: 0.3s;
    flex-wrap: wrap;
    .gallery-img {
        overflow: hidden;
        transform-origin: center;
        transform: scale(0.5);
        position: relative;
        padding: 0;
        margin: 0;  
        filter: brightness(50%);
        img {
            border: 5px solid $indigo;
            margin: 0;
            padding: 0;
        }     
        .caption {
            background-color: rgba(0,0,0,0.5);
            border-radius: 5px;
            padding: 3%;
            font-size: 2.5rem;
            color: #fff;
            position: absolute;
            bottom: 5%;
            transform: translateX(-100%);    
        }
        &:hover {
            filter: brightness(100%);
            margin: 5% 10%;
            cursor: pointer;
            img {
                transform: scale(1.25);
            }
            .caption {
                animation: slideIn 1s forwards;
                text-align: center;
            }
            }    
        }
    }
