@import url("https://use.typekit.net/efa7ivj.css");
/*  MIXINS, VARIABLES, KEYFRAMES   */
@keyframes slideIn {
  from {
    transform: translateX(-100);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes tilePulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.25);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
/*  STYLES  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "sofia-pro-soft", sans-serif;
}

header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 5vh;
  transform: translateY(-100%);
  background-color: rgb(48, 14, 105);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .logo-container {
  width: 20vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
header .logo-container img {
  height: 100%;
  width: auto;
  margin: 0 5px;
}
header .nav-container {
  width: 30vw;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
header .nav-container a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}

.gallery-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery-info .gallery-title {
  width: 100%;
  height: 50vh;
  padding: 50vh 0 100vh 0;
  margin-bottom: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.gallery-info .gallery-title h1 {
  font-size: 7rem;
  color: rgb(48, 14, 105);
}
.gallery-info .gallery-description {
  line-height: 200%;
  transform-origin: top;
  width: 60%;
  height: 150vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 200;
  color: rgb(48, 14, 105);
  margin-bottom: 15%;
  padding-top: 50%;
}
.gallery-info .quote-attribution {
  width: 90%;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 1.75rem;
  font-style: italic;
  color: rgb(48, 14, 105);
}

#image-gallery {
  position: relative;
  width: 100vw;
  margin: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
  transition: 0.3s;
  flex-wrap: wrap;
}
#image-gallery .gallery-img {
  overflow: hidden;
  transform-origin: center;
  position: relative;
  padding: 0;
  margin: 5%;
  filter: brightness(80%);
  border-radius: 25px;
}
#image-gallery .gallery-img img {
  border: 5px solid rgb(48, 14, 105);
  margin: 0;
  padding: 0;
}
#image-gallery .gallery-img .caption {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 3%;
  font-size: 2rem;
  color: #fff;
  position: absolute;
  bottom: 5%;
  transform: translateX(-100%);
}
#image-gallery .gallery-img:hover {
  filter: brightness(100%);
  cursor: pointer;
  animation: tilePulse 3s infinite;
}
#image-gallery .gallery-img:hover img {
  border-bottom: none;
}
#image-gallery .gallery-img:hover .caption {
  animation: slideIn 1s forwards;
  text-align: center;
}/*# sourceMappingURL=styles.css.map */